
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<ul class="menu menu-main">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">СВО</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Донбасс</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Русский Центр Культуры</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Мероприятия</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Благотворительность</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Обратная связь</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="lang-inner-wrap">
				<ul class="menu menu-main">
					<li>
						<a href="" class="btn-menu">
							<div class="button-ico">
								<img src="./img/icons/lang.svg" alt="">
							</div>
							<div class="button-title">Русский</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<p>По вопросам обращайтесь на&nbsp;<a href="mailto:info@site.ru">info@site.ru</a></p>
					<p>Для СМИ на&nbsp;<a href="mailto:info@site.ru">info@site.ru</a></p>
				</div>
				<div class="menu-wrap">
					<ul class="menu menu-main">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Волонтерам</div>
							</a>
							<ul class="menu">
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Стать волонтером-визитором</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Поддержка волонтеров</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Благотворителям</div>
							</a>
							<ul class="menu">
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Частным жертвователям</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Бизнесу</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Мы в&nbsp;соцсетях</div>
							</a>
							<ul class="menu">
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Youtube</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Odnoklassniki</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Vkontakte</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Telegram</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Whatsapp</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Viber</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="subinfo-inner-wrap">
				<div class="info-wrap">
					<p>2024 © БФ Макса Дивнича</p>
				</div>
				<div class="info-wrap">
					<p><a href="">Политика конфиденциальности</a></p>
				</div>
				<div class="info-wrap">
					<p><a href="">Публичная оферта о заключении договора благотворительного пожертвования</a></p>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-info-panel-->
	<div class="footer-info-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis. </p>
				</div>
				<div class="info-wrap">
					<p>Сделано <a href="">ВебУспех</a></p>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-info-panel-->
</footer>
<!-- /footer -->