
<!-- header -->
<header class="header">
	<!--header-mobile-wrap-->
	<div class="header-mobile-wrap">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap js-popup-wrap">
					<a href="" class="btn-popup btn-action-ico ico-search js-btn-popup-toggle"></a>
					<div class="action-content-block js-popup-block">
						<form action="/" class="frm-main-search">
							<input type="text" class="form-input inp-search" placeholder="Поиск">
							<button type="submit" class="btn-form btn-action-ico ico-search"></button>
						</form>
					</div>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action btn-action-ico ico-email"></a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-mobile-wrap-->
	<!--header-panel-wrap-->
	<div class="header-panel-wrap js-popup-wrap">
		<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
		<div class="inner-wrap panel-content-block js-popup-block">
			<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu menu-main">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">СВО</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Донбасс</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Русский Центр Культуры</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Мероприятия</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Пункт меню</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Благотворительность</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Обратная связь</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="search-inner-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input inp-search" placeholder="Поиск">
					<button type="submit" class="btn-form btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="buttons-inner-wrap">
				<div class="button-wrap">
					<a href="" class="btn button-attention">
						<div class="button-title">Помочь</div>
					</a>
				</div>
				<div class="button-wrap">
					<a href="" class="btn button-second">
						<div class="button-title">Получить помощь</div>
					</a>
				</div>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap">
					<a href="" class="btn-action btn-action-ico ico-lang"></a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action btn-action-ico ico-email"></a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-yt.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-panel-wrap-->
</header>
<!-- /header -->